<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travlog.android.apps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".TravlogApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TravlogTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6ed90c2005dfd3578f74731cb9d1a3d0ced77214" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/TravlogTheme.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.MainActivity" />

        <activity android:name=".ui.activities.NoteActivity" />

        <activity
            android:name=".ui.activities.SignUpActivity"
            android:theme="@style/TravlogTheme.SignIn"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.activities.SignInActivity"
            android:theme="@style/TravlogTheme.SignIn" />

        <activity android:name=".ui.activities.MyPageActivity" />

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/settings" />

        <activity
            android:name=".ui.activities.LinkedAccountsActivity"
            android:label="@string/linked_accounts" />

        <activity
            android:name=".ui.activities.SetUsernameActivity"
            android:label=""
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.activities.PostNoteActivity"
            android:label="" />

        <service
            android:name=".services.PostNoteService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>